.feynman__link {
  position: absolute;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-style: normal;
  color: #2f80ed;
  top: 50%;
  right: 48px;
  z-index: 1;
  transition: opacity .7s ease-in;
}

.feynman__link:hover {
  opacity: .4;
}
